@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.19091386554621848) 100%);
}

input[type="checkbox"] {
  accent-color: black;    
}
